@charset "UTF-8";

html {
    font-size: 100%;
}
img {
    max-width: 100%;
}
p {
    display: inline-block;
    text-align: left;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto 100px auto;
    padding: 0 4%;
    text-align: center;
}
.section-title {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
    border-bottom: solid 1px #383e45;
}
.content-title {
    font-size: 1rem;
    margin: 10px 0;
}
.flowbtn10 {	
    font-size: 35px;
    transition: .5s;
    color:#444;	
}
.snsButtons {
    margin: 5px;
    padding: 0px;
    text-align: center;
}
.snsButtons a {
    margin: 16px;
}
#header {
    margin-top: 15px;
}
#header .site-title {
    width: 180px;
    line-height: 1px;
    margin-bottom: 12px;
}
#main {
    margin-bottom: 80px;
}
#main img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}
#profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}
#profile .content {
    display: flex;
    justify-content: center;
    align-items: center;
}
#background {
    margin-bottom: 80px;
}
#background .content {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2.0;
    font-size: 120%;
}
#footer {
    font-size: 0.5rem;
    padding: 10px 0;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #main img {
        height: calc(100vh - 60px);
    }
    .content {
        flex-direction: column;
    }
    #profile img {
        margin-right: 0;
    }
}
